<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Emoji</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <header>
            <h2>Emoji</h2>

            <div class="buttons">
			    <a href="login.html" target="_blank" style="text-decoration:none"><button class="login">Entrar</button></a>
        	    <a href="cadastro.html" target="_blank" style="text-decoration:none"><button class="signup">Criar conta</button></a>
            </div>

        </header>
    </body>
</html>
